{% load static %}
<html>
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

</head>

    <body class="d-flex justify-content-center">

    <form class="" action="{% url 'login' %}" method="post">
        {% csrf_token %}
        <div class="mb-4 text-center">
            <img class="mb-2" src="{% static "/mw-150x150.png" %}" alt="" width="150" height="150">
            <h1 class="h3 mb-3 font-weight-normal">WMS</h1>
            {% if form.errors %}
                <p class="text-danger">
                    Your username and password didn't match.
                </p>
            {% endif %}
         <div class="mb-3">
    <label for="inputEmail" class="form-label">Username</label>
    <input type="text" class="form-control" id="inputEmail"  name="username"  aria-describedby="emailHelp" required>

  </div>
    <div class="mb-3">
    <label for="inputPassword" class="form-label">Password</label>
    <input type="password" class="form-control" name="password" id="inputPassword" required>
  </div>
    <div class="text-center">
        <button class="btn btn-primary" type="submit">Sign in</button>
    </div>

        <p class="mt-5 mb-3 text-muted text-center">Built for <b> Minister White</b> by <a
                href="https://www.neohorizon.io">Neo Horizon</a></p>
        </div>

{#        <div class="input-group mb-3">#}
{#            <input type="text" id="inputEmail" name="username" class="form-control" placeholder="Username" required#}
{#                   autofocus>#}
{#            <label for="inputEmail">Username</label>#}
{#        </div>#}
{##}
{#        <div>#}
{#            <label for="inputPassword" class="form-label">Example textarea</label>#}
{##}
{#            <input type="password" id="inputPassword" name="password" class="form-control" placeholder="Password"#}
{#                   required>#}
{##}
{#        </div>#}



    <form>
</form>





    </form>
    </body>

</html>
